<ion-header>

  <ion-navbar>
    <ion-title>sobre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img *ngIf="foto" [src]="foto" alt="">
  <button ion-button block (click)="tirarFoto()">Tirar Foto</button>
  <br>
  <div>
    <button ion-button block color="secondary" (click)="lerCodigoBarras()">Codigo Barras</button>
  </div>
  <br>
  <div *ngIf="((objetoBarCode.Text).length) > 0">
    <ion-item>
      <ion-label fixed>Código: {{ objetoBarCode.Text }} </ion-label>
    </ion-item>
    <ion-item>
        <ion-label fixed>Formato: {{ objetoBarCode.Format }} </ion-label>
      </ion-item>
  </div>
</ion-content>