<ion-header>

  <ion-navbar>
    <ion-title>sobre</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img *ngIf="foto" [src]="foto" alt="">
  <button ion-button block (click)="tirarFoto()">Tirar Foto</button>
  <br>
  <div>
    <button ion-button block color="secondary" (click)="lerCodigoBarras()">Codigo Barras</button>
  </div>
  <br>
  <ion-item *ngIf="((objetoBarCode.Text).length) > 0">    
    <ion-label fixed>Código: {{ objetoBarCode.Text }} </ion-label>
  </ion-item>
</ion-content>